*
{
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

html, body
{
  height: 100%;
  overflow: hidden;
  background-color: #333;
}

h1, p
{
  color: #000;
  font-family: "Arial", sans-serif;
  font-weight: bold;

  -webkit-user-select: none;
  user-select: none;
}

h1
{
  font-size: 24px;
}

p, input, button
{
  font-size: 16px;
}

@media screen and (min-width: 481px) {

  h1
  {
    font-size: 36px;
  }

  p, input, button
  {
    font-size: 24px;
  }

}

input, button
{
  border: none;
  background-color: #000;

  height: 2em;

  -webkit-border-radius: 0;
  border-radius: 0;

  color: #efefef;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;

  padding-left: 5px;
}

input:disabled, button:disabled
{
  background-color: #222 !important;
  color: #333 !important;
}

button:focus
{
  outline: 0;
}

/* layout */

.wrapper
{
  height: 100%;
  overflow: hidden;
}

.view
{
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;
}

.row
{
  -webkit-flex: 1 0 0;
  flex: 1 0 0;

  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: row;
  flex-direction: row;
}

.column
{
  -webkit-flex: 1 0 0;
  flex: 1 0 0;

  position: relative;
}

.column > div
{
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* navigation */

.view
{
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

@media screen and (orientation: portrait) {

  #view-setup
  {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

@media screen and (orientation: landscape) {

  #view-controller
  {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

/* setup view */

#view-setup
{
  padding: 10px;
}

#view-setup > * + *
{
  margin-top: .75em;
}

#view-setup h1, #view-setup h2, #view-setup p
{
  color: #fff;
}

#view-setup p.status
{
  padding: 5px;
  height: 2em;
  border: 2px solid #444;

  line-height: 1.5em;
  color: #666;
  text-transform: uppercase;
}

#view-setup p.status.status--positive
{
  color: #2ecc71;
  border-color: #2ecc71;
}

#view-setup p.status.status--error
{
  color: #e74c3c;
  border-color: #e74c3c;
}
