.slider
{
  overflow: hidden;
}

.slider__inner
{
  height: 100%;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slider__label
{
  position: absolute;

  display: table;

  top: 0;

  width: 100%;
  height: 100%;

  text-align: center;
}

.slider__label p
{
  display: table-cell;
  vertical-align: middle;
}
