.equalizer {
  display: flex;

  overflow: hidden;

  height: 100%;

  justify-content: center;
}

.equalizer__value {
  height: 100%;

  background-color: $green;

  flex: 1;
}

.equalizer--disabled {
  opacity: .5;

  .equalizer__value {
    background-color: $gray;
  }
}

.equalizer__value-inner {
  background-color: $gray-darker;
}
