.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;

  padding: $default-spacing;

  border: 0;

  white-space: nowrap;

  color: $button-color;

  background-color: $button-background-color;

  font-weight: $font-weight-bold;

  outline: 0;

  text-align: center;

  cursor: pointer;

  &.button--active {
    background-color: $blue;
  }

  &[disabled] {
    color: $button-disabled-color;

    background-color: $button-disabled-background-color;

    cursor: default;
  }
}

.button--red {
  &.button--active {
    background-color: $red;
  }
}

.button--green {
  &.button--active {
    background-color: $green;
  }
}

.button--yellow {
  &.button--active {
    background-color: $yellow;
  }
}

.button--blue {
  &.button--active {
    background-color: $blue;
  }
}
